@import url('https://fonts.googleapis.com/css2?family=Inter&family=Marcellus&family=Poppins&display=swap');

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.footer-link:hover {
  transform: scale(1.1);
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
